body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Zapobiega przewijaniu strony */
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}
canvas {
    display: block; /* Usuwa domyślne marginesy */
    background-color: #222;
    position: absolute;
    top: 0;
    left: 0;
}
.controls {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #777;
}